@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap");

#index-body {
    width :100%;
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: 'Gothic A1', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

#game-body {
    font-family: 'Gothic A1', sans-serif;
    background-color: rgb(130, 214, 119);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 100%;
}

form {
    display: flex;
    left: 10px;
}
/*Players and dealers displayed card`s field*/

.play-area {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 500px;
    margin: auto;
}

/*Contains players and dealers play areas*/

#main {
    background-color: rgb(67, 163, 67);
    border-radius: 20px;
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: row;
    bottom: 0;
    justify-content: center;
}

button {
    margin: 20px;
}

#enterGameButton {
    color: black;
}
/*Displays scores*/

#you-score,
#dealer-score {
    justify-content: space-around;
    height: 40px;
    background-color: rgb(130, 214, 119);
    width: 50px;
    position: relative;
    top: -100px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

/*Displays cards*/

#you-main,
#dealer-main {
    display: flex;
    height: 30%;
    width: 20%;
    justify-content: space-evenly;
}

/*Displays buttons*/

.button-style {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    bottom: -100px;
}

img {
    height: 100%;
    margin: 20px;
    border-radius: 5px;
}

img:hover {
    transform: scale(1.1);
    background-color: rgb(151, 248, 230);
}

/*Displays total count of wins and losses*/

#wins,
#losses,
#draws {
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 100px;
    color: rgb(151, 248, 230);
    display: flex;
    padding: 10px;

}

#win-tables {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: rgb(72, 145, 96);
}

#loss-score,
#win-score,
#draw-score {
    padding: 15px;
}

/*Google chart*/

#chart_wrap {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
}

#piechart {
    position: relative;
    top: 850px;
    left: -30px;
}

/*Enter game button*/

#enterGameButton {
    bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

/*Welcome page*/

#container {
    flex-direction: row;
    width:100%;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.menu {
    display: flex;
    left: 0;
}

.menu a {
    margin: 20px;
}

#JackMenu {
    left: 150px;
    position: absolute;
    width: 100%;
    padding: 30px;
}

#JackMenu a {
    margin: 5px;
}

#heading {
    background-color: #c9bfc3;
    margin: 40px 540px;
    border: solid 2px black;
    border-radius: 10px;
    padding: 25px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

li {
    padding: 20px;
}

#links {
    padding: 0 600px;
}

a {
    color: black;
}

form {
    align-items: baseline;
}

/*@media screen max-width 1560px*/

@media only screen and (max-width: 1560px) {
    
    /*Styles for index.html*/

    #container {
        padding-left: 340px;
    }

    #enterGameButton {
        bottom: 10px;
        padding: 50px;
    }

    .menu {
        margin-left: 0;
    }

    .menu a {
        margin-left: 0;
    }
    #heading {
        margin: 0;
        padding: 25px;
        width: 400px;
    }

    #links {
        padding: 0;
    }

    /*Styles for game.html*/

    
    #JackMenu {
        left: 0;
        padding-left: 10px;;
    }

    h1 {
        font-size: 2rem;
    }

    .play-area {
        flex-direction: row;
        height: 80px;
        align-items: flex-end;
        justify-content: flex-start;
        width: 30px;
    }

    #main {
        margin-left: 20px;
        width: 100%;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
    }

    #you-score,
    #dealer-score {
        display: flex;
        justify-content: space-around;
        text-align: center;
        height: 50px;
        background-color: rgb(130, 214, 119);
        width: 50px;
        position: relative;
        padding: 15px;
        border-radius: 10px;
        font-size: 12px;
        top: -80px;
    }

    img {
        margin: 2px;
        background-color: white;
    }

    #you-main,
    #dealer-main {
        justify-content: flex-start;
        height: 80px;
        width: 50px;
    }

    #win-score,
    #loss-score,
    #draw-score {
        display: flex;
        align-items: flex-end;
        padding: 0px 20px 0px 20px;
    }

}

/*@media screen max-width 1200px*/

@media only screen and (max-width: 1200px) {
    #container {
        padding-left: 40px;
    }
}

/*@media screen max-width 760px*/

@media only screen and (max-width: 760px) { 
    #heading h1 {
        font-size: 26px;
    }

    #heading {
        width:310px;
        padding: 15px;
    }

    #win-tables {
        width: 350px;
    }
}

/*@media screen max-width 400px*/

@media only screen and (max-width: 360px) {
    button {
        margin: 10px;
    }

    #win-tables {
        width: 330px;
    }

    #heading h1 {
        font-size: 22px;
    }

    #heading {
        width: 270px;
    }
}
