body {
    background-color: rgb(94, 184, 94);
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
}

.play-area {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 500px;
    margin: auto;
}

#main {
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: row;
    bottom: 0;
    justify-content: center;
}

button {
    margin: 20px;
}

#you-score, #dealer-score {
    height: 40px;
    background-color: rgb(130, 214, 119);
    width: 50px;
    position: relative;
    top: -100px;
    text-align: center ;
    padding: 5px;
    border-radius: 10px;
}

#you-main, #dealer-main {
    display: flex;
    height: 30%;
    width: 20%;
}

#buttons {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    bottom: -100px;
}
 
img {
    height: 100%;
    margin: 20px;
}